/* form_container */
.form_container {
    width: 40%;
    margin: 0 auto;
}
.form_container > form {
    width: 30%;
    border: solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form_container > form > input {
    margin: 5px;
}
.form_container > form > input[type='submit'] {
    width: 30%;
}
/* content_header */
.content_header {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
}
/* content_index */
.content_index {
    width: 90%;
    margin: 0 auto;
}
.content_index > ul {
    display: flex;
}
.content_index > ul > a > li {
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
}
/* content_container*/
.content_body {
    color: black;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    background-color: #04adbf;
}
.content_body_grid {
    color: black;
    display: grid;

    width: 90%;
    margin: 0 auto;
    background-color: #04adbf;
    padding: 5px;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-column-start: 1;
    grid-column-end: 7;
}
