/* global */
a {
    text-decoration: none;
}
button,
input[type='submit'] {
    text-align: center;
    outline: none;
    background-color: coral;
    color: white;
    padding: 5px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
button,
input[type='submit'].hover,
input[type='submit'].active {
    background-color: red;
}
