html
    head
        title Hottie-api
        //- ICON
        meta(name="viewport", content="width=device-width, initial-scale=1")
        //- FONT
        <link href="https://fonts.googleapis.com/css?family=Barriecito|Noto+Sans+KR&display=swap" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
    body
        include includes/header.pug 
        main
            block content
        include includes/footer.pug
