.header
    .links_container
        a.link(href="/ui/task")
            .link_text Task
        a.link(href="/ui/girl")
            .link_text Girl
        a.link(href="/ui/tags")
            .link_text Tags